# Application
PORT=3010
NODE_ENV=local
WORKER_NAME=tournament-worker
# Redis / BullMQ
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis123
REDIS_DB=0
REDIS_QUEUE_PREFIX=
WORKER_QUEUE_NAME=background-tasks
WORKER_CONCURRENCY=5
