VITE_API_URL=
VITE_GOOGLE_AUTH_URL=
VITE_MICROSOFT_AUTH_URL=
VITE_GOOGLE_CALENDAR_AUTH_URL=
VITE_MICROSOFT_CALENDAR_AUTH_URL=
VITE_SENTRY_DSN=
VITE_INTEGRATIONS_API_URL=
VITE_COMPANION_APP_URL=ws://127.0.0.1
VITE_COMPANION_APP_PORTS=8000,5500-5510