# Application
PORT=
NODE_ENV=
FRONTEND_URL=
# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
# Email
EMAIL_APP_NAME=Tournament
EMAIL_FROM=
RESEND_API_KEY=
# Background Jobs
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=
REDIS_QUEUE_PREFIX=
WORKER_QUEUE_NAME=
