# Application
PORT=3000
NODE_ENV=local
FRONTEND_URL=http://localhost:5173
# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
# Background Jobs
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis123
REDIS_DB=0
REDIS_QUEUE_PREFIX=
WORKER_QUEUE_NAME=background-tasks
